<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div>
        <div class="shadow-md">
        <div class="h-[50px] max-w-screen-lg mx-auto px-4 flex items-center justify-between">
            <span class="text-lg font-medium">10-05-2024</span>
        
              <div class="flex gap-8 items-center">
                <a href=""
                  ><img
                    src="/images/edit.png"
                    alt="Edit"
                    class="h-10 w-10 object-contain hover:scale-110 transition-transform duration-200"
                /></a>
                <a href="">
                  <img
                    src="/images/delete.png"
                    alt="Delete"
                    class="h-10 w-10 object-contain hover:scale-110 transition-transform duration-200"
                  />
                </a>
                <!-- Home Link -->
                <span
                  class="text-lg font-medium text-gray-700 hover:text-gray-900 cursor-pointer"
                  >Home</span
                >
    
                <!-- Button -->
                <span
                  class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded-lg text-white text-sm font-semibold cursor-pointer shadow-md"
                  >Create Hisaab</span
                >
              </div>
        </div>
    </div>
    </div>
</body>
</html>