<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="Navbar shadow-md bg-gray-50">
        <div
          class="flex items-center justify-between h-[70px] max-w-screen-xl mx-auto px-4"
        >
          <!-- Logo -->
          <span class="text-3xl font-mono font-bold text-gray-800"
            >KhataBook</span
          >

          <!-- Navigation Links -->
          <div class="flex gap-8 items-center">
            <!-- Home Link -->
            <span
              class="text-lg font-medium text-gray-700 hover:text-gray-900 cursor-pointer"
              >Home</span
            >

            <!-- Button -->
            <span
              class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded-lg text-white text-sm font-semibold cursor-pointer shadow-md"
              >Create Hisaab</span
            >
          </div>
        </div>
      </div>
      <div class="allHisaab max-w-screen-xl mx-auto px-4 mt-3">
        <div
          class="Hisaab h-[50px] w-[23vw] bg-blue-700 flex items-center justify-between px-4 rounded-md shadow-md"
        >
          <div class="flex items-center h-full gap-5">
            <!-- Date -->
            <span class="text-white font-md text-lg">10-05-2024</span>
            <!-- Image -->
            <a href="">
              <img
                src="/images/file.png"
                alt="file"
                class="h-10 w-10 object-contain hover:scale-110 transition-transform duration-200"
              />
            </a>
          </div>
          <div class="flex gap-5">
            <a href=""
              ><img
                src="/images/edit.png"
                alt="Edit"
                class="h-10 w-10 object-contain hover:scale-110 transition-transform duration-200"
            /></a>
            <a href="">
              <img
                src="/images/delete.png"
                alt="Delete"
                class="h-10 w-10 object-contain hover:scale-110 transition-transform duration-200"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
